@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: "Museo";
  font-weight: 300;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: "Museo";
  font-weight: 500;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: "Museo";
  font-weight: 700;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

:root {
  --desctop: 1320px;
  --small-desctop: 1024px;
  --main-color: #da9b4e;
  --grey: #d8d8d8; }

body {
  font-family: "Museo", sans-serif;
  font-display: swap; }

.first {
  background-image: url("../images/first-bg.jpg");
  background-size: cover; }

.link, .main-nav__link, .head-contacts__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }
  .link__text {
    border-bottom: 1px dotted currentColor; }
    .link__text--hide {
      display: none; }
  .link__icon {
    margin-right: 16px; }

@media (min-width: 1024px) {
  .link, .main-nav__link, .head-contacts__phone {
    font-size: 10px; }
    .link__icon {
      width: 15px;
      margin-right: 10px; }
    .link__text--hide {
      display: inline; } }

@media (min-width: 1320px) {
  .link, .main-nav__link, .head-contacts__phone {
    font-size: 12px; }
    .link__icon {
      width: 20px;
      margin-right: 20px; } }

.btn {
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn--callback {
    display: none;
    border: 2px solid var(--main-color); }
  .btn--consult {
    padding: 20px 32px;
    margin-bottom: 24px;
    background: var(--main-color);
    font-size: 12px;
    text-transform: uppercase; }

@media (min-width: 1024px) {
  .btn {
    padding: 5px 7px;
    font-size: 10px; }
    .btn--callback {
      display: inline;
      margin-bottom: 0; }
    .btn--consult {
      margin-bottom: 0;
      margin-right: 25px;
      font-size: 10px;
      padding: 5px 10px; } }

@media (min-width: 1320px) {
  .btn {
    padding: 10px 15px;
    font-size: 11px; }
    .btn--consult {
      padding: 20px 32px;
      margin-right: 40px;
      font-size: 12px; } }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 25px 50px; }
  .header__map {
    display: none;
    visibility: hidden; }
  .header__main-nav {
    visibility: hidden; }

@media (min-width: 1024px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15px calc(((100% - var(--small-desctop)) / 2) + 10px) 20px; }
    .header__logo {
      margin-right: 20px; }
    .header__map {
      visibility: visible;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-right: 30px; }
    .header__main-nav {
      visibility: visible;
      display: block;
      margin-right: 25px; }
    .header__mobile-menu {
      visibility: hidden;
      display: none; } }

@media (min-width: 1320px) {
  .header {
    padding: 24px calc((100% - var(--desctop)) / 2) 20px; }
    .header__logo {
      margin-right: 50px; }
    .header__map {
      margin-right: 55px; }
    .header__main-nav {
      margin-right: 40px; } }

.logo {
  width: 58px; }

@media (min-width: 1024px) {
  .logo {
    width: 65px; } }

@media (min-width: 1320px) {
  .logo {
    width: 75px; } }

.main-nav {
  position: absolute;
  top: 110px;
  right: -100%;
  z-index: 100;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px; }
  .main-nav__link {
    display: block; }
    .main-nav__link + .main-nav__link {
      margin-top: 15px; }
    .main-nav__link:hover {
      color: var(--main-color); }
  .main-nav--m-open {
    display: block;
    right: 0;
    visibility: visible;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media (min-width: 1024px) {
  .main-nav {
    position: static;
    padding: 0; }
    .main-nav__link {
      display: inline; }
      .main-nav__link + .main-nav__link {
        margin-top: 0;
        margin-left: 10px; } }

@media (min-width: 1320px) {
  .main-nav__link + .main-nav__link {
    margin-left: 24px; } }

.head-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .head-contacts__phone {
    font-size: 16px;
    color: var(--main-color); }

@media (min-width: 1024px) {
  .head-contacts__phone {
    margin-right: 10px;
    font-size: 10px; } }

@media (min-width: 1320px) {
  .head-contacts__phone {
    margin-right: 16px;
    font-size: 16px; } }

.mobile-menu {
  width: 22px;
  height: 21px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  border: none;
  background: transparent;
  line-height: 1;
  outline: none;
  overflow: visible; }
  .mobile-menu:focus .icon__part {
    height: 2px; }
  .mobile-menu--open .icon__part:nth-child(1) {
    rx: 1px;
    height: 2px;
    width: 29px;
    -webkit-transform: rotate(41deg);
        -ms-transform: rotate(41deg);
            transform: rotate(41deg); }
  .mobile-menu--open .icon__part:nth-child(2) {
    opacity: 0; }
  .mobile-menu--open .icon__part:nth-child(3) {
    rx: 1px;
    height: 2px;
    width: 29px;
    -webkit-transform: rotate(-41deg);
        -ms-transform: rotate(-41deg);
            transform: rotate(-41deg); }

.icon {
  width: 22px;
  height: 21px;
  overflow: visible; }
  .icon__part {
    width: 22px;
    height: 3px;
    border-radius: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .icon__part:nth-child(1) {
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .icon__part:nth-child(3) {
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom; }

.slider {
  position: relative; }
  .slider__pagination {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 65px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 10; }
    .slider__pagination .slick-track {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .slider__pagination .slick-list {
      padding: 0 !important;
      overflow: visible !important; }
      .slider__pagination .slick-list .slick-track {
        width: 100% !important;
        margin: 0 !important; }

@media (min-width: 1024px) {
  .slider__pagination {
    display: block;
    width: var(--small-desctop) !important;
    bottom: 30px; } }

@media (min-width: 1320px) {
  .slider__pagination {
    width: var(--desctop) !important; } }

.slide {
  height: 400px;
  outline: none; }
  .slide-content {
    height: inherit;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px; }
  .slide__title {
    margin-top: 0; }
  .slide__text {
    margin-bottom: 70px;
    z-index: 5; }
  .slide__prev {
    display: none;
    z-index: 5; }
  .slide__bg {
    height: inherit;
    position: absolute;
    right: -5%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 1; }
  .slide.slick-current .slide__bg, .slide.slick-current .image-slide {
    right: 0;
    opacity: 1; }

@media (min-width: 1024px) {
  .slide {
    height: auto; }
    .slide-content {
      padding: 0 calc(((100% - var(--small-desctop)) / 2) + 10px); }
    .slide__prev {
      display: block; }
    .slide__bg {
      display: block !important;
      height: auto;
      max-height: 450px; }
    .slide__title {
      margin-bottom: 25px; }
    .slide__text {
      padding-left: 20px;
      margin-bottom: 0; } }

@media (min-width: 1320px) {
  .slide-content {
    padding: 0 calc((100% - var(--desctop)) / 2); }
  .slide__bg {
    max-height: unset; }
  .slide__title {
    margin-bottom: 45px; }
  .slide__text {
    padding-left: 0; } }

.image-slide {
  position: relative;
  right: -5%;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media (min-width: 1024px) {
  .image-slide {
    max-height: 700px; } }

@media (min-width: 1320px) {
  .image-slide {
    max-height: unset; } }

.title {
  width: 200px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: normal; }
  .title__marked {
    display: block;
    color: var(--main-color); }

@media (min-width: 1024px) {
  .title {
    width: auto;
    font-size: 30px; }
    .title__marked {
      display: inline; } }

@media (min-width: 1320px) {
  .title {
    font-size: 44px; } }

.text__fee {
  margin-top: 0;
  margin-bottom: 20px; }

.text__btns {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

@media (min-width: 1024px) {
  .text__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px; } }

.fee {
  display: none;
  color: #fff;
  font-weight: 700;
  opacity: 1; }
  .fee__descr {
    color: var(--grey);
    font-weight: 300;
    opacity: 0.6; }

@media (min-width: 1024px) {
  .fee {
    display: block;
    font-size: 16px; } }

@media (min-width: 1320px) {
  .fee {
    font-size: 20px; } }

.slide-info {
  position: relative;
  background: rgba(35, 32, 34, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: var(--main-color);
  outline: none; }
  .slide-info:hover:not(.slick-current) .slide-info__text {
    color: var(--main-color); }
  .slide-info.slick-current {
    opacity: 0.4;
    border-color: #fff; }
  .slide-info__text {
    margin: 0;
    font-weight: 300;
    color: #fff; }
  .slide-info__prev {
    position: absolute;
    bottom: 0;
    right: 0;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom; }

@media (min-width: 1024px) {
  .slide-info {
    width: 300px !important;
    height: 90px;
    padding: 25px 30px; }
    .slide-info__text {
      font-size: 12px;
      line-height: 18px; }
    .slide-info__prev {
      width: 110px;
      height: 110px; } }

@media (min-width: 1320px) {
  .slide-info {
    width: 410px !important;
    height: 120px;
    padding: 35px 40px; }
    .slide-info + .slide-info {
      margin-left: 40px; }
    .slide-info__text {
      font-size: 16px;
      line-height: 24px; }
    .slide-info__prev {
      width: 140px;
      height: 140px; } }

.slick-dots {
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0; }
    .slick-dots li + li {
      margin-left: 12px; }
    .slick-dots li.slick-active button {
      width: 8px;
      height: 8px;
      border: solid 2px #da9b4e;
      background: transparent;
      opacity: 1; }
    .slick-dots li button {
      width: 4px;
      height: 4px;
      padding: 0;
      background: #da9b4e;
      color: transparent;
      font-size: 0;
      border-radius: 50%;
      opacity: 0.4; }
      .slick-dots li button::before {
        content: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }
