@font-face{
	font-family: "Museo";
	font-weight: 300;
    src: url(../fonts/MuseoSansCyrl_0.otf);
}
@font-face{
	font-family: "Museo";
	font-weight: 500;
    src: url(../fonts/MuseoSansCyrl_1.otf);
}
@font-face{
	font-family: "Museo";
	font-weight: 700;
    src: url(../fonts/MuseoSansCyrl_2.otf);
}

