/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
@import "slick";
@import "slick-theme";
@import "fonts";
@import "variables";
body{
	font-family: "Museo", sans-serif;
	font-display: swap;
}
.first{
	background-image: url("../images/first-bg.jpg");
	background-size: cover;
}
.link{
	display: inline-flex;
	align-items: center;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	&__text{
		border-bottom: 1px dotted currentColor;
		&--hide{
			display: none;
		}
	}
	&__icon{
		margin-right: 16px;
	}
}
@media (min-width: 1024px){
	.link{
		font-size: 10px;
		&__icon{
			width: 15px;
			margin-right: 10px;
		}
		&__text{
			&--hide{
				display: inline;
			}
		}
	}
}
@media (min-width: 1320px){
	.link{
		font-size: 12px;
		&__icon{
			width: 20px;
			margin-right: 20px;
		}
	}
}
.btn{
	text-align: center;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	&--callback{
		display: none;
		border: 2px solid var(--main-color);
	}
	&--consult{
		padding: 20px 32px;
		margin-bottom: 24px;
		background: var(--main-color);
		font-size: 12px;
		text-transform: uppercase;
	}
}
@media (min-width: 768px){
	.btn{
		&--callback{
		}
	}
}
@media (min-width: 1024px){
	.btn{
		padding: 5px 7px;
		font-size: 10px;
		&--callback{
			display: inline;
			margin-bottom: 0;
		}
		&--consult{
			margin-bottom: 0;
			margin-right: 25px;
			font-size: 10px;
			padding: 5px 10px;

		}

	}
}
@media (min-width: 1320px){
	.btn{
		padding: 10px 15px;
		font-size: 11px;
		&--consult{
			padding: 20px 32px;
			margin-right: 40px; 
			font-size: 12px;
		}

	}
}
.header{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 25px 50px;
	&__logo{
		// margin-right: 40px;

	}
	&__map{
		display: none;
		visibility: hidden;
	}
	&__main-nav{
		// display: none;
		visibility: hidden;
	}

}
@media (min-width: 768px){
	.header{
		&__map{
		}
		&__main-nav{
		}
	}
}
@media (min-width: 1024px){
	.header{
		justify-content: flex-start;
		padding: 15px calc(((100% - var(--small-desctop)) / 2) + 10px) 20px;
		&__logo{
			margin-right: 20px;
		}
		&__map{
			visibility: visible;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 30px;
		}
		&__main-nav{
			visibility: visible;
			display: block;
			margin-right: 25px;
		}
		&__mobile-menu{
			visibility: hidden;
			display: none;
		}

	}
}
@media (min-width: 1320px){
	.header{
		// max-width: var(--desctop);
		padding: 24px calc((100% - var(--desctop)) / 2) 20px;
		&__logo{
			margin-right: 50px;
		}
		&__map{
			margin-right: 55px;
		}
		&__main-nav{
			margin-right: 40px;
		}
	}
}
.logo{
	width: 58px;
}
@media (min-width: 1024px){
	.logo{
		width: 65px;
	}
}
@media (min-width: 1320px){
	.logo{
		width: 75px;
	}
}

.main-nav{
	position: absolute;
	top: 110px;
	right: -100%;
	z-index: 100;
	transition: 0.5s;
	padding: 20px;
	&__link{
		@extend .link;
		display: block;
		& + &{
			margin-top: 15px;
		}

		&:hover{
			color: var(--main-color);
		}
	}
	&--m-open{
		display: block;
	    right: 0;
		visibility: visible;
		width: 100%;
	    background: rgba(0, 0, 0, 0.8);
	    box-sizing: border-box;
	}
}
@media (max-width: 1024px){
	.main-nav{}
}
@media (min-width: 1024px){
	.main-nav{
		position: static;
		padding: 0;
		&__link{
			display: inline;
			& + &{
				margin-top: 0;
				margin-left: 10px;
			}
		}
	}
}
@media (min-width: 1320px){
	.main-nav{
		&__link{
			
			& + &{
				margin-left: 24px;
			}
		}
	}	
}
.head-contacts{
	display: flex;
	align-items: center;
	justify-content: space-around;
	&__phone{
		@extend .link;
		font-size: 16px;
		color: var(--main-color);
		// margin-right: 16px;
	}
}
@media (min-width: 1024px){
	.head-contacts{
		&__phone{
			margin-right: 10px;
			font-size: 10px;
		}
	}
}
@media (min-width: 1320px){
	.head-contacts{
		&__phone{
			margin-right: 16px;
			font-size: 16px;
		}
	}
}
.mobile-menu{
	width: 22px;
	height: 21px;
	box-sizing: content-box;
	padding: 0;
	border: none;
	background: transparent;
	line-height: 1;
	outline: none;
	overflow: visible;
	&:focus{
		.icon__part{
			height: 2px;
		}
	}
	&__icon{}
	&--open{
		.icon__part{
			&:nth-child(1){
				rx: 1px;
				height: 2px;
				width: 29px;
				transform: rotate(41deg);
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				rx: 1px;
				height: 2px;
				width: 29px;
				transform: rotate(-41deg);
			}
		}
	}
}
.icon{
	width: 22px;
	height: 21px;
	overflow: visible;
	&__part{
		width: 22px;
		height: 3px;
		border-radius: 2px;
		transition: 0.5s;
		&:nth-child(1){
			transform-origin: left top;
		}
		&:nth-child(3){
			transform-origin: left bottom;
		}
	}
	
}
.slider{
	position: relative;
	// padding: 0 calc((100% - var(--desctop)) / 2);

	&__wrapper{

	}
	&__pagination{
		display: none;
		position: absolute;
		left: 50%;
		bottom: 65px;
		transform: translate(-50%, 0);
		z-index: 10;
		.slick-track{
			display: flex!important;
			justify-content: space-around;
			align-items: center;
		}
		.slick-list{
			padding: 0!important;
			overflow: visible!important;
			.slick-track{
				width: 100%!important;
				margin: 0!important;
			}
		}
	}
	&__dots{}
}
@media (min-width: 1024px){
	.slider{
		&__pagination{
			display: block;
			width: var(--small-desctop)!important;
			bottom: 30px;
			
		}
	}
}
@media (min-width: 1320px){
	.slider{
		&__pagination{
			width: var(--desctop)!important;
		}
	}
}
.slide{
	height: 400px;
	outline: none;
	&-content{
		height: inherit;
		position: relative;
		display: flex!important;
		align-items: center;
		justify-content: space-between;
		padding: 0 25px;
	}
	&__title{
		margin-top: 0;
	}
	&__text{
		margin-bottom: 70px;
		z-index: 5;
	}
	&__prev{
		display: none;
		// max-height: 482px;
		z-index: 5;
	}
	&__bg{
		height: inherit;
		position: absolute;
		right: -5%;
		bottom: 0;
		opacity: 0;
		transition: 0.5s;
		z-index: 1;
	}
	&.slick-current{
		.slide__bg, .image-slide{
			right: 0;
			opacity: 1;
		}
	}

}
@media (min-width: 768px){
	.slide{
		&__bg{
			// display: none!important;
		}
		&__prev{
			// display: none;
		}
	}

}
@media (min-width: 1024px){
	.slide{
		height: auto;
		&-content{
			padding: 0 calc(((100% - var(--small-desctop)) / 2) + 10px);
		}
		&__prev{
			display: block;
		}
		&__bg{
			display: block!important;
			height: auto;
			max-height: 450px;
		}
		&__title{
			margin-bottom: 25px;
		}
		&__text{
			padding-left: 20px;
			margin-bottom: 0;
		}
	}
}
@media (min-width: 1320px){
	.slide{
		&-content{
			padding: 0 calc((100% - var(--desctop)) / 2);
		}
		&__bg{
			max-height: unset;
		}
		&__title{
			margin-bottom: 45px;
		}
		&__text{
			padding-left: 0;
		}
	}
}
.image-slide{
	position: relative;
	right: -5%;
	opacity: 0;
	transition: 0.5s;
}
@media (min-width: 1024px){
	.image-slide{
		max-height: 700px;
	}
}
@media (min-width: 1320px){
	.image-slide{
		max-height: unset;
	}
}
.title{
	width: 200px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	line-height: normal;
	&__marked{
		display: block;
		color: var(--main-color);
	}
}
@media (min-width: 768px){

}
@media (min-width: 1024px){
	.title{
		width: auto;
		font-size: 30px;
		&__marked{
			display: inline;
		}
	}
}
@media (min-width: 1320px){
	.title{
		font-size: 44px;
	}
}
.text{
	&__fee{
		margin-top: 0;
		margin-bottom: 20px;
	}
	&__btns{
		margin-top: 34px;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
}
@media (min-width: 1024px){
	.text{
		&__btns{
			flex-flow: row;
			align-items: center;
			margin-top: 60px;
		}
	}
}
.fee{
	display: none;
	color: #fff;
	font-weight: 700;
	opacity: 1;
	&__descr{
		color: var(--grey);
		font-weight: 300;
		opacity: 0.6;
	}
}
@media (min-width: 1024px){
	.fee{
		display: block;
		font-size: 16px;
	}
}
@media (min-width: 1320px){
	.fee{
		font-size: 20px;
	}
}
.slide-info{
	position: relative;
	background: rgba(35, 32, 34, 0.9);
	box-sizing: border-box;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: var(--main-color);
	outline: none;
	&:hover:not(.slick-current) &__text{
		color: var(--main-color);
	}
	&.slick-current{
		opacity: 0.4;
		border-color: #fff;
	}
	&__text{
		margin: 0;
		font-weight: 300;
		color: #fff;
	}
	&__prev{
		position: absolute;
		bottom: 0;
		right: 0;
		object-fit: contain;
		object-position: bottom;
	}

}
@media (min-width: 1024px){
	.slide-info{
		width: 300px!important;
		height: 90px;
		padding: 25px 30px;
		&__text{
			font-size: 12px;
			line-height: 18px;
		}
		&__prev{
			width: 110px;
			height: 110px;
		}
	}

}
@media (min-width: 1320px){
	.slide-info{
		width: 410px!important;
		height: 120px;
		padding: 35px 40px;
		& + &{
			margin-left: 40px;
		}
		&__text{
			font-size: 16px;
			line-height: 24px;
		}
		&__prev{
			width: 140px;
			height: 140px;
		}
	}

}
.slick-dots{
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    box-sizing: border-box;
    li{
    	width: auto;
    	height: auto;
    	margin: 0;
    	& + li{
    		margin-left: 12px;
    	}
		&.slick-active{
				button{
					width: 8px;
					height: 8px;
					border: solid 2px #da9b4e;
					background:transparent;
					opacity: 1;
				}
		}
		button{
			width: 4px;
			height: 4px;
			padding: 0;
			background: #da9b4e;
			color: transparent;
			font-size: 0;
			border-radius: 50%;
			opacity: 0.4;
			&::before{
				content: none;
			}
		}
    }
}
.slick-dotted.slick-slider{
	margin-bottom: 0!important;
}